.footer {
  border-top: solid 1px $light;
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-link {
      a {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-sm;
        color: $dark;
        margin-right: 1rem;
        line-height: 1;
      }
    }
    &-copy {
      p {
        line-height: 1;
        margin: 0;
        font-size: 12px;
      }
    }
  }
}

.fix-btn {
  z-index: 1;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  @include media-breakpoint-down(md) {
    display: block;
    top: auto;
    transform: none;
    right: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem;
    background-color: $white;
    text-align: center;
  }
}