.merchant {
  margin-top: 4rem;
  &__inner {
    position: relative;
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
    &-ttl {
      font-size: $font-size-base * 1.25;
      font-weight: bold;
      background-color: $light;
      line-height: 1;
      box-sizing: border-box;
      padding: 0.75rem 1.5rem;
      border-left: solid 5px $dark;
    }
    &-ttl4 {
      font-size: $font-size-sm;
      font-weight: bold;
      color: #6a6a6a;
      line-height: 1;
      margin: 1.5rem 0 1rem;
      box-sizing: border-box;
      padding: 0.5em;
      border-top: solid 1px #6a6a6a;
      border-bottom: solid 1px #6a6a6a;
    }
    &__info {
      box-sizing: border-box;
      padding: 1.5rem 0;
      &-support {
        width: 100%;
        border-collapse: collapse;
        th {
          color: #6a6a6a;
          font-size: $font-size-sm;
          padding-bottom: 1rem;
        }
        td {
          font-size: $font-size-sm;
          padding-bottom: 1rem;
        }
      }
      &-term {
        margin: 1rem 0;
        span {
          display: inline-block;
          vertical-align: middle;
          list-style: 1;
          background-color: #dedcd9;
          font-size: $font-size-sm;
          font-weight: bold;
          box-sizing: border-box;
          padding: 5px 1rem;
          border-radius: 2px;
          margin-right: 5px;
        }
      }
    }
  }
}
