.merchant {
  margin-top: 4rem;
  &__inner {
    position: relative;
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
    &-ttl {
      font-size: $font-size-base * 1.25;
      font-weight: bold;
      background-color: $light;
      line-height: 1;
      box-sizing: border-box;
      padding: 0.75rem 1.5rem;
      border-left: solid 5px $dark;
    }
    &-ttl4 {
      font-size: $font-size-sm;
      font-weight: bold;
      color: #6a6a6a;
      line-height: 1;
      margin: 1.5rem 0 1rem;
      box-sizing: border-box;
      padding: 0.5em;
      border-top: solid 1px #6a6a6a;
      border-bottom: solid 1px #6a6a6a;
    }
    &__info {
      box-sizing: border-box;
      padding: 1.5rem 0;
      &-support {
        width: 100%;
        border-collapse: collapse;
        th {
          color: #6a6a6a;
          font-size: $font-size-sm;
          white-space: nowrap;
          padding: 0.25rem;
        }
        td {
          font-size: $font-size-sm;
          padding: 0.25rem;
        }
      }
      &-term {
        margin: 1rem 0;
        span {
          display: inline-block;
          vertical-align: middle;
          list-style: 1;
          background-color: #dedcd9;
          font-size: $font-size-sm;
          font-weight: bold;
          box-sizing: border-box;
          padding: 5px 1rem;
          border-radius: 2px;
          margin-right: 5px;
        }
      }
    }
    &-more {
      display: block;
      margin: 1rem 0;
      width: 100%;
      box-sizing: border-box;
    }
    &-contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .btn {
        width: 49%;
      }
    }
    &.first {
      .merchant__inner-ttl {
        background-color: $info;
        border: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        .ribbon {
          position: relative;
          background-color: $primary;
          box-sizing: border-box;
          padding: 1rem;
          margin-right: 3rem;
          &::after {
            position: absolute;
            right: -30.5px;
            top: 0;
            content: "";
            display: block;
            border-top: 30.5px solid transparent;
            border-bottom: 30.5px solid transparent;
            border-left: 30.5px solid $primary;
          }
        }
      }
      .merchant__inner__info {
        box-sizing: border-box;
        padding: 1rem;
        border: solid 5px $info;
        border-top: 0;
      }
      .merchant__inner__info-flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .thumbnail {
          width: 35%;
        }
        .merchant__inner__info-support {
          width: 62%;
        }
      }
    }
  }
}
