.mv-suv {
  position: relative;
  padding: 3rem 1rem;
  background: url("../images/sub_mv.png") no-repeat center center;
  background-size: cover;
  h2 {
    text-align: center;
    margin: 0;
    span {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
      background-color: $white;
      color: $primary;
      font-size: 1.5rem;
    }
  }
}
